<div class="container" style="padding: 40px 15px; max-width: 400px;">
  <form [ngClass]="backgroundColor === 'dark' ? 'dark-theme' : ''">

    <!-- HEADING & DESCRIPTIVE TEXT -->
    <h1>Level One Heading</h1>
    <h2>Level Two Heading (section name)</h2>
    <p class="subheading">Descriptive text</p>
    <span>All fields are requied unless marked optional</span>

    <!-- RATING -->
    <div class="form-group">
      <ngb-rating></ngb-rating>
    </div>

    <!-- TOGGLE -->
    <div class="form-group">
      <label class="form-switch">
        <input type="checkbox">
        <span class="label">Label</span>
        <span class="slider round"></span>
      </label>
    </div>

    <!-- BUTTON -->
    <div class="form-group">
      <button type="button" class="btn btn-sm btn-primary">Primary</button>
      <button type="button" class="btn btn-sm btn-primary" disabled>Disabled</button>
      <button type="button" class="btn btn-sm btn-secondary">Continue</button>
      <button type="button" class="btn btn-sm btn-secondary" disabled>Disabled</button>
    </div>

    <!-- SELECT -->
    <div class="form-group">
      <label for="exampleFormControlSelect1">Example select</label>
      <select class="form-select" id="exampleFormControlSelect1">
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quas quo nesciunt vero recusandae cumque.</option>
        <option>5</option>
      </select>
    </div>

    <div class="form-group">
      <label for="exampleFormControlSelect1">Example select with error</label>
      <select class="form-select has-error" id="exampleFormControlSelect1">
        <option></option>
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
      </select>
      <div class="error-message">Field can't be empty.</div>
    </div>

    <div class="form-group">
      <label for="exampleFormControlSelect1">Example select disabled</label>
      <select class="form-select" id="exampleFormControlSelect1" disabled>
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
      </select>
    </div>

    <!-- CHECKBOX -->
    <fieldset class="form-group">
      <legend class="label">Radio buttons heading</legend>
      <div class="form-check">
        <input type="checkbox" value="" id="defaultCheck1">
        <label class="form-check-label" for="defaultCheck1">Default checkbox</label>
      </div>
      <div class="form-check">
        <input type="checkbox" value="" id="defaultCheck2">
        <label class="form-check-label" for="defaultCheck2">Lorem ipsum dolor, sit amet consectetur adipisicing
          elit. Laudantium sint quae velit aliquam tempore quibusdam.</label>
      </div>
      <div class="form-check">
        <input type="checkbox" value="" id="defaultCheck3" disabled>
        <label class="form-check-label" for="defaultCheck3">Disabled checkbox</label>
      </div>
    </fieldset>

    <!-- <div class="form-group">
      <div class="label">Select option</div>
      <div class="form-group-inline">
        <div class="form-check">
          <input type="checkbox" id="item1">
          <label class="form-check-label" for="item1">Item 1</label>
        </div>
        <div class="form-check">
          <input type="checkbox" id="item2">
          <label class="form-check-label" for="item2">Item 2</label>
        </div>
        <div class="form-check">
          <input type="checkbox" id="item3">
          <label class="form-check-label" for="item3">Item 3</label>
        </div>
      </div>
      <div class="error-message">Please, make youe selection.</div>
    </div> -->


    <!-- <div class="form-group">
      <div class="label">What's your investment goal?</div>
      <div class="form-group">
        <div class="form-check">
          <input type="checkbox" id="investment1">
          <label class="form-check-label" for="investment1">Lorem ipsum dolor sit amet consectetur adipisicing
            elit. Minus, expedita nostrum! Deserunt accusantium tempora molestiae cum sequi quod ea dolore.</label>
        </div>
        <div class="form-check">
          <input type="checkbox" id="investment2">
          <label class="form-check-label" for="investment2">Home Purchase Home Purchase</label>
        </div>
        <div class="form-check">
          <input type="checkbox" id="investment3">
          <label class="form-check-label" for="investment3">Rainy Day</label>
        </div>
        <div class="form-check">
          <input type="checkbox" id="investment4">
          <label class="form-check-label" for="investment4">Major Purchase</label>
        </div>
      </div>
    </div> -->

    <!-- INPUT -->
    <div class="form-group">
      <label for="exampleFormControlInput1">Email address</label>
      <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
      <small id="passwordHelpInline" class="text-muted">
        Must be 8-20 characters long
      </small>
    </div>


    <div class="form-group">
      <label for="exampleFormControlInput1">First name</label>
      <input type="name" class="form-control has-error" id="exampleFormControlInput1" placeholder="Enter your name">
      <div class="error-message">First name can't be empty.</div>
    </div>

    <div class="form-group">
      <label class="disabled" for="exampleFormControlInput1">First name</label>
      <input type="name" class="form-control" id="exampleFormControlInput1" disabled>
    </div>


    <!-- TEXTAREA -->
    <div class="form-group">
      <label for="exampleFormControlTextarea1">Example textarea</label>
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>


    <div class="form-group">
      <label class="disabled" for="exampleFormControlTextarea1">Example textarea</label>
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" disabled></textarea>
    </div>


    <div class="form-group">
      <label for="exampleFormControlTextarea1">Example textarea</label>
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
      <div class="counter">Remaining <span class="remaining">200</span> symbols out of <span class="total">200</span></div>
    </div>


    <div class="form-group">
      <label for="exampleFormControlTextarea1">Example textarea</label>
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
      <div class="counter limit">Character limit reached.</div>
    </div>


    <!-- RADIO -->
    <fieldset class="form-group">
      <legend>Radio buttons heading</legend>
      <div class="form-check">
        <input type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
        <label class="form-check-label" for="exampleRadios1">Default radio</label>
      </div>
      <div class="form-check">
        <input type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
        <label class="form-check-label" for="exampleRadios2">Second default radio</label>
      </div>
      <div class="form-check">
        <input type="radio" name="exampleRadios" id="exampleRadios3" value="option3" disabled>
        <label class="form-check-label" for="exampleRadios3">Disabled radio</label>
      </div>
    </fieldset>

  </form>
</div>
