.btn {
  display: inline-block;
  border: none;
  background: none;
  text-align: center;
  font-weight: 500;

  &:not(:last-child) {
    margin-bottom: 1rem;
    margin-right: 1rem;
  }

  &:not([disabled]):hover {
    cursor: pointer;
  }
  &:focus {
    outline: none;
  }

  &-sm {
    min-width: 120px;
    font-size: 14px;
    padding: 14px 20px;
    line-height: 20px;

    &.btn-secondary {
      padding: 12px 20px;
    }
  }

  &-lg {
    line-height: 1.5;
    min-width: 168px;
    font-size: 16px;
    padding: 20px 32px;
  }

  &-primary {
    background-color: $brandBlue;
    color: $white;

    &:hover {
      background-color: #0051a5;
    }
    &:active {
      background-color: #003168;
    }
    &:focus {
      box-shadow: 0 0 0 4px $bgColor, 0 0 0 5px $brandBlue;
    }

    @at-root .dark-theme & {
      background-color: $yellow;
      color: $darkGrey;
    }
  }

  &-secondary {
    border: 2px solid $brandBlue;
    border-color: $brandBlue;
    color: $brandBlue;

    &:hover {
      border-color: #0051a5;
      color: #0051a5;
    }
    &:active {
      border-color: #003168;
      color: #003168;
    }
    &:focus {
      box-shadow: 0 0 0 4px $bgColor, 0 0 0 5px $brandBlue;
    }

    @at-root .dark-theme & {
      border-color: $white;
      color: $white;
      background-color: rgba($white, .15);
    }
  }

  &[disabled] {
    color: $darkGrey;
    background-color: $veryLightGrey;
    border-color: $veryLightGrey;
  }
}