.form-check {
  position: relative;

  &:not(:last-child) {
    margin-bottom: 15px;
  }

  input {
    opacity: 0;
    position: absolute;
    z-index: -1;
    width: 0;
    height: 0;

    &+.form-check-label {
      display: block;
      position: relative;
      margin-bottom: 0;
      padding: 3px 0 3px 45px;
      font-weight: 300;
      color: $moreDarkerGrey;

      @at-root .dark-theme & {
        color: $white;
      }

      &::before,
      &::after {
        content: '';
        position: absolute;
        display: block;
      }

      &::before {
        top: 0;
        left: 0;
        width: 30px;
        height: 30px;
        border: 1px solid $grey;

          @at-root .dark-theme & {
          border: 1px solid $white;
          background-color: $white;
        }
      }
    }

    &:focus,
    &:active {
      &+.form-check-label {
        &::before {
          border-color: $brandBlue;
          box-shadow: 0 0 0 1px $brandBlue;

          @at-root .dark-theme & {
            outline: none;
            border-color: $white;
            box-shadow: 0 0 0 4px $bgColor, 0 0 0 5px $white;
          }
        }
      }
    }

    &[disabled] {

      &+.form-check-label {
        color: $darkerGrey;

        @at-root .dark-theme & {
          color: $white;
        }

        &::before {
          background-color: $veryLightGrey;

          @at-root .dark-theme & {
            border-color: $lightGrey;
            background-color: $lightGrey;
          }
        }
      }

      &:active {

        &+.form-check-label {

          &::before {
            box-shadow: none;
            border-color: $grey;
          }
        }
      }
    }

    &[type="checkbox"] {

      &+.form-check-label {

        &::after {
          width: 18px;
          height: 9px;
          top: 8px;
          left: 6px;
          transform: rotate(-45deg);
          border: 2px solid transparent;
          border-width: 0 0 2px 2px;
        }
      }

      &:checked {
        &+.form-check-label {

          &::after {
            border-color: transparent transparent $brandBlue $brandBlue;
          }
        }
      }
    }

    &[type="radio"] {

      &+.form-check-label {

        &::before {
          border-radius: 50%;
        }

        &::after {
          width: 10px;
          height: 10px;
          border-radius: 50%;
          top: 10px;
          left: 10px;
        }
      }

      &:checked {
        &+.form-check-label {

          &::after {
            background-color: $brandBlue;
          }
        }
      }
    }
  }
}
