.rating {
  display: inline-flex;
  font-size: 32px;
  color: $brandBlue;

  @at-root .dark-theme & {
    color: $white;
  }

  &:focus {
    outline: 1px solid $brandBlue;

    @at-root .dark-theme & {
      outline: 1px solid $white;
    }
  }
}
