h1,
.h1 {
  font-size: 32px;
  line-height: 1.5;
}

h2,
.h2 {
  font-size: 20px;
  color: $anotherDarkGrey;

  @at-root .dark-theme & {
    color: $white;
  }
  line-height: 1.5;
}

.subheading {
  font-family: 'Georgia', 'Times', 'Times New Roman', serif;
  font-size: 14px;
  font-style: italic;
  color: $anotherDarkerGrey;

  @at-root .dark-theme & {
    color: $white;
  }
  line-height: 1.5;
}
