// $bgColor: #006ac3;
$bgColor: #fff;

$black: #000;
$white: #fff;
$lightestGrey: #eaeaea;
$veryLightGrey: #f3f4f5;
$lightGrey: #c4c8cc;
$grey: #919191;
$darkerGrey: #6f6f6f;
$anotherDarkerGrey: #585858;
$moreDarkerGrey: #444444;
$anotherDarkGrey: #282828;
$darkGrey: #252525;


$brandBlue: #006ac3;
$yellow: #ecc532;

$dangerRedDark: #b91a0e;
$dangerRedLight: #f35c51;
