@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');
@import "variables";
@import "typography";
@import "buttons";
@import "rating";
@import "form";
@import "form-check";
@import "form-switch";


* {
  box-sizing: border-box;

  &::before, &::after {
    box-sizing: inherit;
  }
}

body {
  font-family: 'Roboto', sans-serif;
  color: $black;
}
  
.dark-theme {
  color: $white;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
  background-color: $bgColor;
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba($black, .1);
}

.text-muted {
  font-size: 14px;
  font-weight: 300;
  color: $darkerGrey;

  @at-root .dark-theme & {
    color: $white;
  }
}